{% extends 'vkapi/layout.html' %}

{% block title %}{{ first_name }} {{ last_name }}{% endblock %}

{% block body %}
    {% if not error %}
        <h1>{{ first_name }} {{ last_name }}</h1>
        <h2>{{ birthday }}</h2>
        {% if city %}
            <h3>Город {{ city }}</h3>
        {% endif %}<br>
        {% include 'vkapi/mutual-friends-graph.html' %}
        {% include 'vkapi/activity-graph.html' %}
        {% include 'vkapi/subscriptions.html' %}
    {% else %}
        <p id="error">Ошибка! Данные объекта по ссылке не доступны.</p>
    {% endif %}
{% endblock %}